{% extends "blogs/base.html" %}
{% block content %}

{% if user.is_authenticated %}
{% for post in posts %}
<div class="card">
  <div class="card-header">
    {{post.title}}
  </div>
  <div class="card-body">
    <h5 class="card-title">#{{post.id}} added: {{ post.date_added|date:'d M Y H:i' }}</h5>
    <p class="card-text">{{ post.text|truncatewords:75 }}</p>
    <a href="{% url 'blogs:post_detail' pk=post.pk %}" class="btn btn-outline-info">Read more</a>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock content %}